html, body, h1, p {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
}

html, body, main {
  height: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}
